:root {
    --azul: #4F46E5;
    --purpura: #A855F7;
    --rosa: #EC4899;
    --fucsia: #F43F5E;
    --celeste: #22D3EE;
    --negro: #000000;
    --blanco-texto: #f0f8ff;
}

/* Estilos predeterminados body */
body {
    color: var(--blanco-texto);
    background: url(../assets/img/Background/Fondo.png);
    margin: 0;
    padding: 0;
    background-size: cover;
}