/* ? COLLORES Y FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

/* ! Colores */
:root {
    /* Paleta de Colores */
    --azul-doraemon: #2C8EFF;
    --fondo-tarjetas: #ffffffba;
    --fondo-pelicula: #ffffff57;
    --rojo-doraemon: #FF3B3B;
    --amarillo-doraemon: #FFF200;
    --negro: #000000;
    --blanco-texto: #363739;

    /* Footer */
    --gris-footer: #212429;

    /* Colores añadidos */
    --rosa-shisuka: #ffc8dd; 
}

.bg-pink-shisuka {
    background-color: var(--rosa-shisuka) !important; /* He necesitado poner el imporatant si no me lo coje*/
}

/* ! Fuentes */
.font-Baloo {
    font-family: 'Baloo 2', sans-serif;
}

.font-ComicNeue {
    font-family: 'Comic Neue', sans-serif;
}

.h1-font-Baloo {
    font-family: 'Baloo 2', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.1;
    text-transform: none;
    color: #f0f8ff;
    margin: 0;
    padding: 1rem;
    text-align: center;
}


/* ? ESTILOS PREDETERMINADO DEL BODY */
body {
    color: var(--blanco-texto);
    background: url(../assets/img/Background/Fondo2.png);
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family:  sans-serif;
}


/* ! Montes */
.card-img-lg-dimension {
    display: block;
    /* Evita que las imagenes se deformen */
    object-fit: contain;
    max-height: 500px;
    max-width: 100%;
    width: auto;
    margin: 0;
    padding: 1em;
}
.card-img-md-dimension {
    display: block;
    object-fit: contain;
    max-height: 300px;
    max-width: 100%;
    width: auto;
    margin: 0;
    padding: 1em;
}