:root {
    --azul-doraemon: #2C8EFF;
    --rojo-doraemon: #FF3B3B;
    --amarillo-doraemon: #FFD500;
    --negro: #000000;
    --blanco-texto: #f0f8ff;
}


/* Estilos predeterminados body */
body {
    color: var(--blanco-texto);
    background: url(../assets/img/Background/Fondo.png);
    margin: 0;
    padding: 0;
    background-size: cover;
}