@import url(css/generalStyle.css);

header {
    background-color: var(--celeste);
    font-size: x-large;
    font-weight: bold;
}

li {
    color: var(--fucsia);
}

#Doraemon_Nav {
    height: 150px;
    width: auto;
}