@import url(css/generalStyle.css);

header {
    background-color: var(--gris-footer);
    font-size: x-large;
    font-weight: bold;
    color: white !important;
}

/* ESTILO PARA CASCABEL */

/* Zoom en el Hover */
nav img {
    transition: transform 0.3s, box-shadow 0.3s;
}
nav img:hover {
    transform: scale(1.2);
}

/* Tamaño img */
#Doraemon_Nav {
    z-index: 5;
    position: absolute;
    top: 40%;
    left: 5%;
    height: 110%;
    width: auto;
}

/* MENU NAV */

/* Estilo para que el menu se agrande */
nav li {
    transition: transform 0.3s, box-shadow 0.3s;
}

nav li:hover {
    color: var(--amarillo-doraemon);
    transform: scale(1.2);
}

nav .nav-link {
    color: white !important;
    position: relative;
    transition: color 0.3s;
    font-family: 'Comic Neue', cursive;
}

/* COLORES FIJOS PARA ITEM ACTIVO */

.navbar-nav .nav-item:nth-child(1) .nav-link.active {
    color: var(--azul-doraemon) !important;
}

.navbar-nav .nav-item:nth-child(2) .nav-link.active {
    color: var(--rojo-doraemon) !important;
}

.navbar-nav .nav-item:nth-child(3) .nav-link.active {
    color: var(--amarillo-doraemon) !important;
}

.navbar-nav .nav-item:nth-child(4) .nav-link.active {
    color: var(--rosa-doraemon) !important;
}

.navbar-nav .nav-item:nth-child(1) .nav-link.active::after {
    width: 80%;
    background-color: var(--azul-doraemon);
}
.navbar-nav .nav-item:nth-child(2) .nav-link.active::after {
    width: 80%;
    background-color: var(--rojo-doraemon);
}
.navbar-nav .nav-item:nth-child(3) .nav-link.active::after {
    width: 80%;
    background-color: var(--amarillo-doraemon);
}
.navbar-nav .nav-item:nth-child(4) .nav-link.active::after {
    width: 80%;
    background-color: var(--rosa-doraemon);
}

.navbar-nav .nav-item:nth-child(1) .nav-link:hover {
    color: var(--azul-doraemon) !important;
}
.navbar-nav .nav-item:nth-child(2) .nav-link:hover {
    color: var(--rojo-doraemon) !important;
}
.navbar-nav .nav-item:nth-child(3) .nav-link:hover {
    color: var(--amarillo-doraemon) !important;
}
.navbar-nav .nav-item:nth-child(4) .nav-link:hover {
    color: var(--rosa-doraemon) !important;
}

.navbar-nav .nav-item:nth-child(1) .nav-link:hover::after {
    width: 80%;
    background-color: var(--azul-doraemon);
}
.navbar-nav .nav-item:nth-child(2) .nav-link:hover::after {
    width: 80%;
    background-color: var(--rojo-doraemon);
}
.navbar-nav .nav-item:nth-child(3) .nav-link:hover::after {
    width: 80%;
    background-color: var(--amarillo-doraemon);
}
.navbar-nav .nav-item:nth-child(4) .nav-link:hover::after {
    width: 80%;
    background-color: var(--rosa-doraemon);
}



nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 0;
    height: 2px;
    transition: width 0.3s, background-color 0.3s;
}




.navbar-nav .nav-item {
    margin-left: 60px;
    margin-right: 60px;
}

.navbar-nav {
    align-items: center;
}
