/* Imagen fondo */
body {
    background: url(../assets/img/Background/Fondo.png);
    margin: 0;
    padding: 0;
    background-size: cover;
}


/* Tamaño imágenes carrusel */
#img_carrusel {
    height: auto;
    width: auto;
}

