@import url(css/generalStyle.css);

/*TODO cambiar esto al header una vez angel compruebe*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom: var(--blanco-footer) 3px solid;
}

/*! Imagen principal */
.contenedor-DoraemonGamer {
    overflow: hidden;
    transition: height 0.2s ease-out;
    border-bottom: var(--blanco-footer) 3px solid;

    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        display: block;
    }
}

/*! Galeria */
.contenedor-galeria {
    display: grid;
    place-items: center;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 1200px;
}

.contenedor-imagen {
    position: relative;
    left: 0;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 5px 12px rgb(0, 0, 0, 0.5);
    overflow: hidden;
    background-color: #000000;
    transition: 0.4s ease-in-out;
    flex: 0.5;
}

.contenedor-imagen img {
    object-fit: cover;
}

.contenedor-imagen:hover {
    flex: 2;
    cursor: pointer;
    border-radius: 8px;
}

/*! DLC Story Season */
.color-small {
    color: var(--dorado-small-juegos);
}

.mini-card {
    cursor: pointer;
    transition: transform 0.2s ease;
    border: 2px solid transparent;
    p{
        margin-bottom: 5px;
        font-size: 12px;
    }
}

.mini-card:hover {
    transform: scale(1.01);
}

.mini-card.active {
    border-color: var(--bs-warning);
    /* o un color que estés usando, como #ffc107 */
}

.w-corazon {
    width: 15px;
    height: auto;
    cursor: pointer;
}

.w-corazon:hover {
    cursor: pointer;
}