/* === CONFIGURACIÓN DE TAMAÑOS DEL ACORDEÓN ===
Imagen ampliada: 640px
Imágenes colapsadas: 40px
Total imágenes: 5
Ancho total: 640 + (40 * 4) = 800px
Ancho por defecto: 800 / 5 = 160px
*/

body {
	background-color: #ffffff82 !important;
}

.accordian {
	width: 1000px;
	height: auto;
	overflow: hidden;
	margin: 100px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
		background-color: #70b2ce82;
}



/* Elementos del acordeón */
.accordian li {
	position: relative;
	display: block;
	width: 100px;
	/* Ancho por defecto */
	float: inline-start;
	border-left: 1px solid #ffffff;
	box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.288);
	transition: all 0.5s;

}

/* Al hacer hover sobre el UL, todas se contraen */
.accordian ul:hover li {
	width: 30px;
}

/* Al hacer hover sobre un LI, ese se expande */
.accordian ul li:hover {
	width: 640px;
}

/* Imagen normal */
.accordian li img {
	display: block;
	width: 640px;
	height: 320px;
	background-color: #ffffff00;
	
}

/* Título sobre la imagen */
.image_title {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 640px;
	background: rgba(0, 0, 0, 0.5);
}

.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}